
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagecontent">
    <h2 class="h2">Registration Successfull.</h2>
    <p>Please Login @Html.ActionLink("Here", "Login", "MyAccount") </p>
</div>